.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 1fr 3fr;
  align-items: center;
  justify-items: center;
  min-height: 50svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.infoPanel {
  display: flex;
}

.infoPanel hr {
  color: var(--heading);
}

.infoPanel img {
  float: left;
  padding-right: 10px;
  width: 100px;
  border-radius: 50%;
}

.infoPanel p {
  float: left;
}

.infoPanel h1 {
  color:var(--heading);
}


.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.01em;
  list-style-position: inside;
  list-style-type:none;
  text-align:center;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main li {
  border: 2px solid var(--heading);
  border-radius:10px;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.main li > a {
  display: block;
  width: 100%;
  
}

.main li:hover {
  background-color: var(--heading);
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}